.nav {
  &-item {
    @include padding-y($nav-item-padding-y);

    @include media-breakpoint-up(md) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include padding-y($nav-item-padding-y-md);
    }
  }

  &-link {
    display: block;
    width: 100%;
    font-size: $nav-link-font-size;
    font-weight: $nav-link-font-weight;
    color: $nav-link-color;
    border: 0;
    background: 0;
    text-align: left;

    &:hover,
    &:focus,
    &.active {
      color: $nav-link-hover-color;
      box-shadow: none;
      outline: none;
    }

    @include media-breakpoint-up(md) {
      text-align: center;
    }
  }
}
