<header class="page-header">
  <div class="container-width -xl">
    <div class="page-header_nav mb-4 row justify-content-between align-items-center">

      <div class="page-header_nav-item col-12 col-md-6 col-lg-5">
        <a href="#"
           class="page-header_nav-link text-secondary">
          <span class="page-header_nav-link_ico material-icons">arrow_back</span>
          <span class="page-header_nav-link_text">
            Repair traffic lights near N street
          </span>
        </a>
      </div>

      <div class="page-header_nav-item col-12 col-md-6 col-lg-4 pt-4 pt-md-0 text-right">
        <a href="#"
           class="page-header_nav-link text-secondary">
          <span class="page-header_nav-link_text">
            Add public transport station between Derebasovskaia and something else to show long-long-long text in this
            block
          </span>
          <span class="page-header_nav-link_ico material-icons">arrow_forward</span>
        </a>
      </div>

    </div>

    <div class="row align-items-center my-3">
      <div class="col-12 col-md-8 col-lg-9">
        <h2 class="page-title mb-0">
          Auto stāvvietas ielas malā
        </h2>
      </div>

      <div class="col-12 col-md-4 col-lg-3 text-right">
        Votes
      </div>
    </div>

    <div class="page-header_nav-tags form-row align-items-center my-3">
      <div class="col-auto my-1">
        <div class="tag tag-accent">
          Satiksmes organizācija
        </div>
      </div>
      <div class="col-auto my-1">
        <div class="tag tag-primary">
          Auto satiksme
        </div>
      </div>
    </div>
  </div>
</header>

<div class="page-content">

  <div class="container-width -xl">
    <div class="mb-4 text-dark">
      <div class="mb-1">
        Dzirnavu iela, Centra rajons, Rīga, Latvija
      </div>
      <div class="mb-1">
        Pievienots: 12.03.2020 | Autors: Urzula
      </div>
    </div>

    <div class="mb-5">
      <p>
        The morning air, spilling over with radioactive motes, gray and sun - beclouding, belched about him, haunting
        his nose; fie sniffed involuntarily the taint of death. Well, that was too strong a description for it, he
        decided as he made his way to the particular plot of sod which he owned along with the unduly large apartment
        below.
      </p>
      <p>
        The morning air, spilling over with radioactive motes, gray and sun - beclouding, belched about him, haunting
        his nose; fie sniffed involuntarily the taint of death. Well, that was too strong a description for it, he
        decided as he made his way to the particular plot of sod which he owned along with the unduly large apartment
        below.
      </p>
    </div>
  </div>

  <div class="container-width -xl">
    <div class="row my-5 gallery">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-3">
        <div class="gallery-item">
          <span class="gallery-img"
                style="background-image: url(https://7d9e88a8-f178-4098-bea5-48d960920605.selcdn.net/d1c55e73-19a5-4593-a702-52f5c8a0b95f/);"></span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-3">
        <div class="gallery-item">
          <span class="gallery-img"
                style="background-image: url(https://i.pinimg.com/originals/7f/3c/00/7f3c001d0b35bebf89f2d573e798bbba.jpg);"></span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-3">
        <div class="gallery-item">
          <span class="gallery-img"
                style="background-image: url(https://img-fotki.yandex.ru/get/56406/116075328.359/0_20c43e_de8f020d_XXL.jpg);"></span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-3">
        <div class="gallery-item">
          <span class="gallery-img"
                style="background-image: url(https://i.artfile.ru/2560x1600_1277575_[www.ArtFile.ru].jpg);"></span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-3">
        <div class="gallery-item">
          <span class="gallery-img"
                style="background-image: url(https://img-fotki.yandex.ru/get/52461/156792724.2f9/0_14d9f1_b399d870_orig.jpg);"></span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-3">
        <div class="gallery-item">
          <span class="gallery-img"
                style="background-image: url(https://s1.1zoom.ru/b5050/473/Latvia_Houses_Rivers_458295_2560x1440.jpg);"></span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-3">
        <div class="gallery-item">
          <span class="gallery-img"
                style="background-image: url(https://avatars.mds.yandex.net/get-pdb/225396/c1b4d8e4-c86d-4f19-9919-1da512e5679d/s1200?webp=false);"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="container-width -xl">
    <div class="my-7">
      Google map will be here
    </div>
  </div>

</div>
