<div class="container-width -xl py-5">
  <h2>Buttons</h2>
  <h3 class="mt-4 mb-3">Solid Buttons</h3>
  <div class="row">
    <div class="col-auto py-2">
      <button class="btn btn-primary">
        Primary
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-secondary">
        Secondary
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-success">
        Success
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-info">
        Info
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-warning">
        Warning
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-danger">
        Danger
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-light">
        Light
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-dark">
        Dark
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-accent">
        Accent
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-base">
        Base
      </button>
    </div>
  </div>

  <h3 class="mt-4 mb-3">Disabled Buttons</h3>
  <div class="row">
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-primary">
        Primary
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-secondary">
        Secondary
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-success">
        Success
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-info">
        Info
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-warning">
        Warning
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-danger">
        Danger
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-light">
        Light
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-dark">
        Dark
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-accent">
        Accent
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-base">
        Base
      </button>
    </div>
  </div>

  <h3 class="mt-4 mb-3">Outline Buttons</h3>
  <div class="row">
    <div class="col-auto py-2">
      <button class="btn btn-outline-primary">
        Primary
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-outline-secondary">
        Secondary
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-outline-success">
        Success
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-outline-info">
        Info
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-outline-warning">
        Warning
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-outline-danger">
        Danger
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-outline-light">
        Light
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-outline-dark">
        Dark
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-outline-accent">
        Accent
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-outline-base">
        Base
      </button>
    </div>
  </div>

  <h3 class="mt-4 mb-3">Disabled Outline Buttons</h3>
  <div class="row">
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-outline-primary">
        Primary
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-outline-secondary">
        Secondary
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-outline-success">
        Success
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-outline-info">
        Info
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-outline-warning">
        Warning
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-outline-danger">
        Danger
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-outline-light">
        Light
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-outline-dark">
        Dark
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-outline-accent">
        Accent
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-outline-base">
        Base
      </button>
    </div>
  </div>

  <h3 class="mt-4 mb-3">Sizes</h3>
  <div class="row">
    <div class="col-auto py-2">
      <button class="btn btn-primary btn-sm">
        Primary
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-primary">
        Primary
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-primary btn-lg">
        Primary
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-auto py-2">
      <button class="btn btn-outline-primary btn-sm">
        Outline Primary
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-outline-primary">
        Outline Primary
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-outline-primary btn-lg">
        Outline Primary
      </button>
    </div>
  </div>
</div>

<div class="container-width -xl border-top py-5">
  <h2>Inputs</h2>
  <h3 class="mt-4 mb-3">Inputs &amp; Labels</h3>
  <form>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label class="form-label"
                 for="exampleInputEmail1">
            Email address
          </label>
          <input type="email"
                 class="form-control"
                 id="exampleInputEmail1"
                 aria-describedby="emailHelp"
                 placeholder="Email address">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label class="form-label"
                 for="exampleInputEmail2">
            Email address
          </label>
          <input type="email"
                 class="form-control"
                 id="exampleInputEmail2"
                 aria-describedby="emailHelp"
                 placeholder="Email address"
                 value="email@mail.ru">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group was-validated">
          <label class="form-label"
                 for="exampleInputEmail3">
            Email address
          </label>
          <input type="email"
                 class="form-control"
                 id="exampleInputEmail3"
                 aria-describedby="emailHelp"
                 value="mail">
          <div class="invalid-feedback">
            <span class="material-icons">
              error
            </span>
            Error text
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label class="form-label"
                 for="exampleInputEmail4">
            Email address
          </label>
          <input type="email"
                 class="form-control"
                 id="exampleInputEmail4"
                 aria-describedby="emailHelp"
                 placeholder="Email address"
                 disabled>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label class="form-label"
                 for="exampleInputEmail5">
            Email address
          </label>
          <input type="email"
                 class="form-control"
                 id="exampleInputEmail5"
                 aria-describedby="emailHelp"
                 placeholder="Email address"
                 value="email@mail.ru"
                 disabled>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group was-validated">
          <label class="form-label"
                 for="exampleInputEmail12">
            Email address
          </label>
          <input type="email"
                 class="form-control"
                 id="exampleInputEmail12"
                 aria-describedby="emailHelp"
                 value="mail@mail.ru">
          <div class="valid-feedback">
            <span class="material-icons">
              check_circle
            </span>
            Success text
          </div>
        </div>
      </div>
    </div>

    <h3 class="mt-4 mb-3">
      Inputs without Labels
    </h3>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <input type="email"
                 class="form-control"
                 id="exampleInputEmail6"
                 aria-describedby="emailHelp"
                 placeholder="Email address">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <input type="email"
                 class="form-control"
                 id="exampleInputEmail7"
                 aria-describedby="emailHelp"
                 placeholder="Email address"
                 value="email@mail.ru">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group was-validated">
          <input type="email"
                 class="form-control"
                 id="exampleInputEmail8"
                 aria-describedby="emailHelp"
                 value="mail">
          <div class="invalid-feedback">
            <span class="material-icons">
              error
            </span>
            Error text
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <input type="email"
                 class="form-control"
                 id="exampleInputEmail9"
                 aria-describedby="emailHelp"
                 placeholder="Email address"
                 disabled>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <input type="email"
                 class="form-control"
                 id="exampleInputEmail10"
                 aria-describedby="emailHelp"
                 placeholder="Email address"
                 value="email@mail.ru"
                 disabled>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group was-validated">
          <input type="email"
                 class="form-control"
                 id="exampleInputEmail11"
                 aria-describedby="emailHelp"
                 value="mail@mail.ru">
          <div class="valid-feedback">
            <span class="material-icons">
              check_circle
            </span>
            Success text
          </div>
        </div>
      </div>
    </div>

    <h3 class="mt-4 mb-3">
      Input with icon above
    </h3>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label class="form-label"
                 for="exampleInputPassword1">
            Password
          </label>
          <div class="input-container">
            <input type="password"
                   class="form-control form-control-sm"
                   id="exampleInputPassword1"
                   placeholder="Password">
            <div class="input-container_ico">
              <button class="ctrl ctrl-secondary">
                <span class="material-icons">
                  remove_red_eye
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label class="form-label"
                 for="exampleInputPassword2">
            Password
          </label>
          <div class="input-container">
            <input type="password"
                   class="form-control"
                   id="exampleInputPassword2"
                   placeholder="Password">
            <div class="input-container_ico">
              <button class="ctrl ctrl-secondary">
                <span class="material-icons">
                  remove_red_eye
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label class="form-label"
                 for="exampleInputPassword3">
            Password
          </label>
          <div class="input-container">
            <input type="password"
                   class="form-control form-control-lg"
                   id="exampleInputPassword3"
                   placeholder="Password">
            <div class="input-container_ico">
              <button class="ctrl ctrl-secondary">
                <span class="material-icons">
                  remove_red_eye
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3 class="mt-4 mb-3">
      Inputs sizes
    </h3>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <input type="email"
                 class="form-control form-control-sm"
                 id="exampleInputSizeSm"
                 aria-describedby="emailHelp"
                 placeholder="Email address">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <input type="email"
                 class="form-control"
                 id="exampleInputSizeMd"
                 placeholder="Email address">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <input type="email"
                 class="form-control form-control-lg"
                 id="exampleInputSizeLg"
                 placeholder="Email address">
        </div>
      </div>
    </div>
  </form>
</div>

<div class="container-width -xl border-top py-5">
  <h2>Other form elements</h2>
  <h3 class="mt-4 mb-3">Checkboxes</h3>
  <div class="row">
    <div class="col-3">
      <div class="check">
        <input class="check-input"
               type="checkbox"
               id="checkInput1" />
        <label class="check-label"
               for="checkInput1">
          Check label
        </label>
      </div>
    </div>
    <div class="col-3">
      <div class="check">
        <input class="check-input"
               type="checkbox"
               id="checkInput2"
               disabled />
        <label class="check-label"
               for="checkInput2">
          Check label
        </label>
      </div>
    </div>
    <div class="col-3">
      <div class="check">
        <input class="check-input"
               type="checkbox"
               id="checkInput3"
               checked />
        <label class="check-label"
               for="checkInput3">
          Check label
        </label>
      </div>
    </div>
    <div class="col-3">
      <div class="check">
        <input class="check-input"
               type="checkbox"
               id="checkInput4"
               checked
               disabled />
        <label class="check-label"
               for="checkInput4">
          Check label
        </label>
      </div>
    </div>
  </div>
  <h3 class="mt-4 mb-3">Radiobuttons</h3>
  <div class="row">
    <div class="col-3">
      <div class="radio">
        <input class="radio-input"
               type="radio"
               id="radioInput1"
               name="radioExample"
               value="radioInput1" />
        <label class="radio-label"
               for="radioInput1">
          Radio label
        </label>
      </div>
    </div>
    <div class="col-3">
      <div class="radio">
        <input class="radio-input"
               type="radio"
               id="radioInput2"
               name="radioExample"
               value="radioInput2"
               disabled />
        <label class="radio-label"
               for="radioInput2">
          Radio label
        </label>
      </div>
    </div>
    <div class="col-3">
      <div class="radio">
        <input class="radio-input"
               type="radio"
               id="radioInput3"
               name="radioExample"
               value="radioInput3"
               checked />
        <label class="radio-label"
               for="radioInput3">
          Radio label
        </label>
      </div>
    </div>
    <div class="col-3">
      <div class="radio">
        <input class="radio-input"
               type="radio"
               id="radioInput4"
               name="radioExample"
               value="radioInput4"
               checked
               disabled />
        <label class="radio-label"
               for="radioInput4">
          Radio label
        </label>
      </div>
    </div>
  </div>
</div>

<div class="container-width -xl border-top py-5">
  <h2>Typography</h2>

  <h1>Header 1: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
    aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo
    enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos,
    qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet,
    consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam
    quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi
    ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam
    nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur? At vero eos et
    accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos
    dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia
    deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
    Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat,
    facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis
    debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae.
    Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut
    perferendis doloribus asperiores repellat.</p>

  <h2>Header 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
    aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo
    enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos,
    qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet,
    consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam
    quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi
    ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam
    nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur? At vero eos et
    accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos
    dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia
    deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
    Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat,
    facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis
    debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae.
    Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut
    perferendis doloribus asperiores repellat.</p>

  <h3>Header 3: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
    aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo
    enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos,
    qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet,
    consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam
    quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi
    ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam
    nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur? At vero eos et
    accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos
    dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia
    deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
    Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat,
    facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis
    debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae.
    Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut
    perferendis doloribus asperiores repellat.</p>
</div>
