<div class="container-width -xl">
  <article class="article pt-4">
    <header class="article-header">
      <h2 class="article-title">
        What is Uzlabo?
      </h2>
    </header>
    <div class="article-content text-lg">
      <p>
        Ikdienas gaitās bieži vien redzam dažādas nepilnības mūsu apkārtējā vidē. Platforma uzlabo.lv aicina visus
        Latvijas
        iedzīvotājus spert nākamo soli un iesaistīties risinājumu radīšanā. Ja redzi interesantu veidu kā risināt
        eksistējošu problēmu Tavā pilsētā, neturi to pie sevis, bet dalies ar pasauli!
      </p>
      <p>
        Ar uzlabo.lv palīdzību vari savākt atbalstītājus savam piedāvātajam risinājumam, vai arī vienkārši iesniegt savu
        priekšlikumu ideju bankā, lai to brīvi varētu izmantot ikviens jaunais uzņēmējs, programmētājs, pilsētas
        entuziasts
        vai pašvaldību darbinieks.
      </p>
    </div>
  </article>
</div>

<div class="container-width -xl">
  <div class="jumbotron py-9">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-md-4">
        <img src="/assets/images/main/main-pic-3.svg"
             alt="Dalies ar savu ideju!"
             class="jumbotron-pic w-100" />
      </div>
      <section class="col-12 col-md-7 mt-6 mt-md-0">
        <header class="jumbotron-header mb-3">
          <h3 class="jumbotron-title text-primary">
            Dalies ar savu ideju!
          </h3>
        </header>
        <div class="jumbotron-content">
          <h2>
            Apraksti izdomāto risinājumu, tā vēlamo atrašanās vietu, pievieno attēlu vai citu vizuālo materiālu un dod
            iespēju to apskatīt arī citiem iedzīvotājiem!
          </h2>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="container-width -xl">
  <div class="jumbotron py-9">
    <div class="row align-items-center justify-content-between">
      <section class="col-12 col-md-7 mt-6 mt-md-0">
        <header class="jumbotron-header mb-3">
          <h3 class="jumbotron-title text-primary">
            Atrodi domubiedrus!
          </h3>
        </header>
        <div class="jumbotron-content">
          <h2>
            Ar platformas palīdzību atrodi domubiedrus, ar kuriem kopīgi vari savu ideju attīstīt tālāk, lai veidotu
            drošāku, zaļāku un cilvēkiem draudzīgu pilsētu!
          </h2>
        </div>
      </section>
      <div class="col-12 col-md-4">
        <img src="/assets/images/main/main-pic-3.svg"
             alt="Atrodi domubiedrus!"
             class="jumbotron-pic w-100" />
      </div>
    </div>
  </div>
</div>

<div class="container-width -xl">
  <article class="article pt-4">
    <header class="article-header">
      <h2 class="article-title">
        Aktīvās apkaimes
      </h2>
    </header>
    <div class="article-content text-lg">
      <p class="mb-5">
        Tu vari iesniegt ideju par jebkuru Rīgas vietu un meklēt potenciālos domubiedrus! Papildu informējam, ka ar
        uzlabo.lv sadarbojas arī vairākas apkaimes biedrības, kas izrādījušas iniciatīvu palīdzēt un konsultēt ideju
        iesniedzējus par to, kā savu ieceri virzīt tālāk. Šobrīd aktīvās apkaimes ir VEF, Teika, Sarkandaugava, Imantas
        un Zolitūde.
      </p>
      <p class="text-primary mb-6">
        Ja esi apkaimes biedrības pārstāvis, un arī esi ieinteresēts iesaistīties, sazinies ar mums!
      </p>

      <div class="text-center">
        <img src="/assets/images/about/map.png"
             alt="Aktīvās apkaimes"
             class="w-100" />
      </div>
    </div>
  </article>
</div>

<div class="container-width -xl">
  <article class="article py-9">
    <header class="article-header">
      <h2 class="article-title">
        Kas notiks tālāk?
      </h2>
    </header>
    <div class="article-content text-lg">
      <p class="mb-6">
        Kad būsi iesniedzis savu ideju uzlabo.lv, tā būs pieejama ideju lapā publiskai diskusijai. Ja redzi, ka citu
        iedzīvotāju atbildes un vērtējumi ir pozitīvi, tad aicinām Tevi virzīt šo procesu tālāk! Tev pieejami sekojoši
        soļi:
      </p>
    </div>

    <div class="row tiles mb-6">
      <div class="col-12 col-md-4">
        <section class="tile h-100 background-semi-white text-dark">
          <header class="tile-header">
            <h4 class="tile-title">
              Piedalies VEFRESH organizētajā pilsētvides hakatonā 27. novembrī!
            </h4>
          </header>
          <div class="tile-content">
            <p>
              Ja esi atradis domubiedrus, kas ieinteresēti šādas idejas attīstībā, piesaki dalību 24h hakatonā, kurā
              varat kopīgi noslīpēt ideju, kā arī sagatavot vizuālos materiālus un iesniegumus atbildīgajām pašvaldības
              iestādēm!
            </p>
          </div>
        </section>
      </div>
      <div class="col-12 col-md-4 pt-5 pt-md-0">
        <section class="tile h-100 background-semi-white text-dark">
          <header class="tile-header">
            <h4 class="tile-title">
              Uzsāc komunikāciju ar atbildīgo iestādi jau tagad!
            </h4>
          </header>
          <div class="tile-content">
            <p>
              Aicinām Tevi jau tagad izveidot savas idejas iesniegumu un nosūtīt to atbildīgajai iestādei. Šajā procesā
              Tevi ar portāla palīdzību var konsultēt arī aktīvās apkaimju biedrības, kas šim procesam gājušas cauri jau
              vairākkārt.
            </p>
          </div>
        </section>
      </div>
      <div class="col-12 col-md-4 pt-5 pt-md-0">
        <section class="tile h-100 background-semi-white text-dark">
          <header class="tile-header">
            <h4 class="tile-title">
              Piesaki savu ideju kādā no pašvaldības projektu konkursiem!
            </h4>
          </header>
          <div class="tile-content">
            <p>
              Seko līdzi pašvaldības izsludinātajiem konkursiem – līdzdalīgās budžetēšanas <a href="#">konkursam</a>,
              apkaimju iniciatīvas līdzdalības un piederības veicināšanas projektu <a href="#">uzsaukumiem</a> un
              citiem, kuros vari gūt finansējumu iecerētā realizēšanai!
            </p>
          </div>
        </section>
      </div>
    </div>

    <div class="article-content text-lg">
      <p>
        Paralēli uzlabo.lv domubiedru komanda plāno strādāt pie tā, lai portāls nākotnē būtu savienots arī ar Rīgas
        pašvaldības atbildīgajām iestādēm, kas ar šīs platformas palīdzību varētu ērtāk uzzinātu par iedzīvotāju
        paustajām vēlmēm un idejām.
      </p>
    </div>
  </article>
</div>
