html {
  font-size: 14px;
}

body {
  min-width: $container-min-width;
  background: $body-bg;
  font-family: $font-family-base;
}

app-root {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: $container-min-width;
  height: 100%;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  @include margin-x(auto);
}

.container-width {
  width: 100%;
  min-width: $container-min-width;
  @include margin-x(auto);
  @include padding-x($container-padding-x);

  @each $breakpoint,
  $value in $max-widths {
    &.-#{$breakpoint} {
      max-width: $value !important;
    }
  }
}
