html {
  font-size: 14px;
}

body {
  min-width: $container-min-width;
  background: $body-bg;
  font-family: $font-family-base;
}

.container-width {
  width: 100%;
  min-width: $container-min-width;
  @include margin-x(auto);
  @include padding-x($container-padding-x);

  @each $breakpoint,
  $value in $max-widths {
    &.-#{$breakpoint} {
      max-width: $value !important;
    }
  }
}
