h1 {
  line-height: $h1-line-height;
  letter-spacing: $h1-letter-spacing;
}

h2 {
  line-height: $h2-line-height;
  letter-spacing: $h2-letter-spacing;
}

h3 {
  line-height: $h3-line-height;
  letter-spacing: $h3-letter-spacing;
}

.text {
  &-md {
    font-size: $font-size-base;
  }
  &-lg {
    font-size: $font-size-lg;
  }
  &-sm {
    font-size: $font-size-sm;
  }
}
