<div class="container-width -xl">
  <div class="jumbotron py-9">
    <div class="row align-items-center justify-content-between">
      <section class="col-12 col-md-6">
        <header class="jumbotron-header mb-6">
          <h1 class="jumbotron-title">
            Uzlabo pilsētu!
          </h1>
        </header>
        <div class="jumbotron-content">
          <p class="text-lg">
            Vai Tev ir ideja, kā uzlabot vidi kādā no Rīgas apkaimēm?
          </p>
          <p class="text-lg">
            Iesniedz savu priekšlikumu, savāc atbalstītājus un palīdzi to
            realizēt!
          </p>
          <p class="text-primary">
            Šobrīd testējam platformu <br />
            VEF, Teikas, Sarkandaugavas, Imantas un Zolitūdes apkaimēs.
          </p>
        </div>
        <footer class="jumbotron-footer mt-6">
          <a routerLink="/ideas/new"
             class="btn btn-primary btn-lg text-uppercase">
            Iesniedz ideju
          </a>
        </footer>
      </section>
      <div class="col-12 col-md-5 mt-6 mt-md-0">
        <img src="/assets/images/main/main-pic-1.svg"
             alt="Uzlabo pilsētu!"
             class="jumbotron-pic w-100" />
      </div>
    </div>
  </div>
</div>

<div class="container-width -xl">
  <div class="jumbotron py-9">
    <div class="row align-items-center justify-content-between">
      <section class="col-12 col-md-6">
        <header class="jumbotron-header mb-3">
          <h3 class="jumbotron-title text-primary">
            Kā tas strādā
          </h3>
        </header>
        <div class="jumbotron-content">
          <h2>
            Ja redzi interesantu veidu kā risināt eksistējošu problēmu Tavā
            pilsētā, neturi to pie sevis, iesniedz sava risinājuma ideju
          </h2>
        </div>
        <footer class="jumbotron-footer mt-3">
          <a routerLink="/ideas"
             class="text-dark">
            Skatīt idejas ->
          </a>
        </footer>
      </section>
      <div class="col-12 col-md-5 mt-6 mt-md-0">
        <img src="/assets/images/main/main-pic-2.svg"
             alt="Kā tas strādā"
             class="jumbotron-pic w-100" />
      </div>
    </div>
  </div>
</div>

<div class="container-width -xl">
  <div class="jumbotron py-9">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-md-6">
        <img src="/assets/images/main/main-pic-3.svg"
             alt="Where you can use Uzlabo"
             class="jumbotron-pic w-100" />
      </div>
      <section class="col-12 col-md-5 mt-6 mt-md-0">
        <header class="jumbotron-header mb-3">
          <h3 class="jumbotron-title text-primary">
            Where you can use Uzlabo
          </h3>
        </header>
        <div class="jumbotron-content">
          <h2>
            Šobrīd testējam platformu VEF, Teikas, Sarkandaugavas, Imantas un
            Zolitūdes apkaimēs.
          </h2>
        </div>
        <footer class="jumbotron-footer mt-3">
          <a routerLink="/about"
             class="text-dark">
            See map ->
          </a>
        </footer>
      </section>
    </div>
  </div>
</div>

<div class="container-width -xl">
  <div class="jumbotron py-9">
    <div class="row align-items-center justify-content-between">
      <section class="col-12 col-md-6">
        <header class="jumbotron-header mb-3">
          <h3 class="jumbotron-title text-primary">
            How are ideas going to be implemented
          </h3>
        </header>
        <div>
          <h2>
            lai to brīvi varētu izmantot ikviens jaunais uzņēmējs,
            programmētājs, pilsētas entuziasts vai pašvaldību darbinieks.
          </h2>
        </div>
        <footer class="jumbotron-footer mt-3">
          <a routerLink="/about"
             class="text-dark">
            Read more ->
          </a>
        </footer>
      </section>
      <div class="col-12 col-md-5 mt-6 mt-md-0">
        <img src="/assets/images/main/main-pic-4.svg"
             alt="How are ideas going to be implemented"
             class="jumbotron-pic w-100" />
      </div>
    </div>
  </div>
</div>

<div class="container-width -xl">
  <div class="jumbotron py-9">
    <section class="row align-items-center justify-content-between">
      <div class="col-12 col-sm-4 col-md-6">
        <header class="jumbotron-header">
          <h4 class="jumbotron-title text-dark text-uppercase mb-0">
            Draugi
          </h4>
        </header>
      </div>
      <div class="col-12 col-sm-8 col-md-6 mt-4 mt-sm-0">
        <div class="row align-items-center justify-content-between">
          <div class="col-auto">
            <a href="https://www.vefresh.com/"
               target="_blank">
              <img src="/assets/images/friends/vefresh.svg"
                   alt="Vefresh" />
            </a>
          </div>
          <div class="col-auto">
            <a href="https://www.pilsetacilvekiem.lv/"
               target="_blank">
              <img src="/assets/images/friends/pilsetacilvekiem.svg"
                   alt="Pilsēta cilvēkiem" />
            </a>
          </div>
          <div class="col-auto">
            <a href="http://www.sarkandaugavai.lv/"
               target="_blank">
              <img src="/assets/images/friends/sarkandaugavailv.svg"
                   alt="Sarkandaugavai" />
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="container-width -xl py-9">
  <ngb-carousel class="carousel-main">
    <ng-template ngbSlide>
      <div class="carousel-pic_wrapper">
        <img [src]="images[0]"
             alt=""
             class="carousel-pic" />
      </div>
      <div class="carousel-caption">
        <p class="h2 mb-3">
          Ikdienas gaitās bieži vien redzam dažādas nepilnības mūsu apkārtējā vidē. Platforma uzlabo.lv aicina visus
          Latvijas iedzīvotājus spert nākamo soli un iesaistīties risinājumu radīšanā!
        </p>
        <p class="h4">
          VEFRESH team
        </p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="carousel-pic_wrapper">
        <img [src]="images[1]"
             alt=""
             class="carousel-pic" />
      </div>
      <div class="carousel-caption">
        <p class="h2 mb-3">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
        <p class="h4">
          Pilsēta cilvēkiem team
        </p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
